torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
soundfile
numpy==1.26.4
torch_audiomentations
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
datasets
wget
black
isort
pre-commit
editdistance
pyctcdecode
KenLM
pytorch_lightning==1.8.6
jsonargparse[signatures]
transformers
torchcrepe
pesq
fairseq
librosa==0.9.1
tensorboard==2.8.0
pghipy